:root {
  --navyBlue: #010144;
  --gold: #fdc447;
  --light: #d9d9d9;
  --dark: #1e1e1e;
  --red: #3e0000;
  --lightbrown: #bfa6a2;
  --tan: #fffade;
}
/* * {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./assets/images/fish-background-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  min-width: 100vw;
  min-height: 100vh;
}
