:root {
  --navyBlue: #010144;
  --gold: #FDC447;
  --light: #D9D9D9;
  --dark: #1E1E1E;
  --red: #3E0000;
  --lightbrown: #BFA6A2;
  --tan: #FFFADE;
}
/* * {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/images/fish-background-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  min-width: 100vw;
  min-height: 100vh;
}
