.background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/fish-background-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    min-width: 100vw;
    min-height: 100vh;
}
