.icon {
  height: 250px;
}

.about {
  color: whitesmoke;
  font-size: 25px;
  padding: 0 5rem;
}
.a1 {
  margin-top: 80px;
}

.a2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.a3 {
  margin-left: 100px;
  margin-top: 80px;
}

.mobile {
  height: 500px;
}

.web {
  height: 350px;
}

.holder {
  margin: 80px;
}

.teamHeader {
  color: whitesmoke;
}

.contact {
  width: 50%;
  padding: 20px;
}

.card {
  width: 20rem;
  margin: 2rem 1rem;
}

@media screen and (max-width: 996px) {
  .web {
    height: 200px;
  }

  .mobile {
    height: 350px;
  }

  .about {
    font-size: 18px;
    padding: 0 2rem;
  }

  .teamHeader {
    font-size: 1.5rem;
  }

  .card .icon {
    height: 175px;
  }
}

@media screen and (max-width: 776px) {
  .box1 {
    flex-direction: column;
    align-items: center;
  }

  .box2 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about {
    margin: 2rem auto;
  }

  .card {
    margin: 3rem auto;
  }

  #one {
    flex-direction: column;
  }
}
