#login {
  position: relative;
  /* background-color: rgb(255, 255, 255); */
  background-color: #b3b3c7;
  /* opacity: 0.5; */
}

.heading {
  color: var(--navyBlue);
  font-size: 6rem;
}

.sub-heading {
  color: var(--light);
  font-size: 3rem;
}

#photo {
  height: 200px;
}

@media screen and (max-width: 412px) {
  #photo {
    height: 150px;
  }
}
