.section {
    padding-bottom: .2rem !important;
    padding-top: 2rem !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.invoice {
    background-color: white;
    color: black !important;
    padding: 1rem;
    width: 50rem;
    height: 55rem;
}

.invoiceContent {
    padding: 1rem;
}

.totalCont {
    padding-left: 28rem;
    width: 20rem;
    padding-bottom: .7rem;
}

.totalNums {
    padding-bottom: .5rem;
}

.footerStyle {
    color: black;
    height: 2rem;
    font-size: 1rem;
    padding-top: 7rem;
}

.totalDue {
    padding-left: 23rem;
    padding-top: .7rem;
    width: 25rem;
    font-size: 1.2rem;
    border-top: 1px solid black;
    box-sizing: content-box;
}

.totalWord {
    padding-left: 3.5rem;
}

.header {
    height: 5rem;
    width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.invoiceDetails {
    padding-top: 5rem;
    padding-bottom: 12rem;
}

.flex {
    display: flex;
    justify-content: start;
    padding-bottom: 3rem !important;
}

.grey {
    background-color: grey;
    padding: .5rem;
}

.logo {
    aspect-ratio: 1;
    width: 2rem;
}

.businessLogo {
    aspect-ratio: 1;
    width: 4rem;
}